<div class="container">
  <div class="user-details">
    <br>
    <h3> Experience </h3>
    <hr>
    <p> {{site.user_description}} </p>
  </div>
    <br>
  <center>
    <div class="logos">
    <img class="logo-img os" alt="windows" src="{{ "/assets/img/logos/windows.png" | prepend: site.baseurl }}"></img>
    <img class="logo-img os" alt="mac" src="{{ "/assets/img/logos/mac.gif" | prepend: site.baseurl }}"></img>
      <img class="logo-img os" alt="linux" src="{{ "/assets/img/logos/linux.png" | prepend: site.baseurl }}"></img>
      <img class="logo-img os" alt="android" src="{{ "/assets/img/logos/android.png" | prepend: site.baseurl }}"></img>
    </div>
  </center>
  <br>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <div class="logos">
      <img class="logo-img" alt="html" src="{{ "/assets/img/logos/html5.png" | prepend: site.baseurl }}"></img>
      <img class="logo-img" alt="css" src="{{ "/assets/img/logos/css3.png" | prepend: site.baseurl }}"></img>
      <img class="logo-img" alt="sass" src="{{ "/assets/img/logos/sass.png" | prepend: site.baseurl }}"></img>
      <img class="logo-img" alt="bootstrap" src="{{ "/assets/img/logos/bootstrap.png" | prepend: site.baseurl }}"></img>
       <img class="logo-img" alt="xml" src="{{ "/assets/img/logos/xml.png" | prepend: site.baseurl }}"></img>
      <img class="logo-img" alt="markdown" src="{{ "/assets/img/logos/markdown.png" | prepend: site.baseurl }}"></img>
      <img class="logo-img" alt="yaml" src="{{ "/assets/img/logos/yaml.png" | prepend: site.baseurl }}"></img>
      <img class="logo-img" alt="latex" src="{{ "/assets/img/logos/latex.png" | prepend: site.baseurl }}"></img>
      </div>
      <p>HTML5 &bull; CSS3 &bull; Sass &bull; Bootstrap &bull; XML &bull; Markdown &bull; YAML &bull; LaTeX </p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <div class="logos">
        <img class="logo-img" alt="python" src="{{ "/assets/img/logos/python.png" | prepend: site.baseurl }}"></img>
      <img class="logo-img" alt="java" src="{{ "/assets/img/logos/java.png" | prepend: site.baseurl }}"></img>
      <img class="logo-img" alt="javascript" src="{{ "/assets/img/logos/javascript.png" | prepend: site.baseurl }}"></img>
      <img class="logo-img" alt="php" src="{{ "/assets/img/logos/php.png" | prepend: site.baseurl }}"></img>
       <img class="logo-img" alt="ruby" src="{{ "/assets/img/logos/perl.jpg" | prepend: site.baseurl }}"></img>
      <img class="logo-img" alt="cc++" src="{{ "/assets/img/logos/ccpp.png" | prepend: site.baseurl }}"></img>
      <img class="logo-img" alt="vb" src="{{ "/assets/img/logos/vb.png" | prepend: site.baseurl }}"></img>
      <img class="logo-img" alt="tsql" src="{{ "/assets/img/logos/tsql.png" | prepend: site.baseurl }}"></img>
      </div>
      <p>Python &bull; Java &bull; Javascript &bull; PHP &bull; Ruby &bull; C/C++ &bull; Visual Basic .NET &bull; T-SQL </p>
      </div>
    <div class="four columns">
      <h4>Tools</h4>
      <div class="logos">
      <img class="logo-img" alt="kivy" src="{{ "/assets/img/logos/kivy.png" | prepend: site.baseurl }}"></img>
      <img class="logo-img" alt="django" src="{{ "/assets/img/logos/django.png" | prepend: site.baseurl }}"></img>
      <img class="logo-img" alt="jekyll" src="{{ "/assets/img/logos/jekyll.png" | prepend: site.baseurl }}"></img>
      <img class="logo-img" alt="pygame" src="{{ "/assets/img/logos/pygame.gif" | prepend: site.baseurl }}"></img>
      <img class="logo-img" alt="mssqlserver" src="{{ "/assets/img/logos/mssqlserver.png" | prepend: site.baseurl }}"></img>
      <img class="logo-img" alt="postgresql" src="{{ "/assets/img/logos/postgresql.png" | prepend: site.baseurl }}"></img>
      <img class="logo-img" alt="servoy" src="{{ "/assets/img/logos/servoy.png" | prepend: site.baseurl }}"></img>
      <img class="logo-img" alt="visual" src="{{ "/assets/img/logos/visual.png" | prepend: site.baseurl }}"></img>
      </div>
      <p>Kivy &bull; Django &bull; Jekyll &bull; PyGame &bull; MS SQL Server &bull; PostrgeSQL &bull; Servoy &bull; Visual Studio </p>
    </div>
  </div>

</div>
